{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section class="h-30 p-5 bg-light border rounded-3 text-center mb-4">
                    <h1>pandas</h1>
                    <p>
                        <strong>pandas</strong>는 [Python](https://www.python.org) 프로그래밍 언어 위에 구축된, 빠르고 강력하며
유연하고 사용하기 쉬운 오픈 소스 데이터 분석·조작 도구입니다.
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{{ base_url }}getting_started.html">지금 pandas 설치하기!</a>
                    </p>
                </section>

                <div class="row">
                    <div class="col-md-4">
                        <h5>시작하기</h5>
                        <ul>
                            <li><a href="{{ base_url }}getting_started.html">pandas 설치</a></li>
                            <li><a href="{{ base_url }}docs/getting_started/index.html">시작하기</a></li>
                            <li><a href="{{ base_url }}try.html">브라우저에서 pandas 사용해 보기</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>문서</h5>
                        <ul>
                            <li><a href="{{ base_url }}docs/user_guide/index.html">사용자 가이드</a></li>
                            <li><a href="{{ base_url }}docs/reference/index.html">API 레퍼런스</a></li>
                            <li><a href="{{ base_url }}docs/development/index.html">pandas에 기여하기</a></li>
                            <li><a href="{{ base_url }}docs/whatsnew/index.html">릴리스 노트</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>커뮤니티</h5>
                        <ul>
                            <li><a href="{{ base_url }}about/index.html">pandas 소개</a></li>
                            <li><a href="https://stackoverflow.com/questions/tagged/pandas">질문 올리기</a></li>
                            <li><a href="{{ base_url }}community/ecosystem.html">생태계</a></li>
                        </ul>
                    </div>
                </div>
                <section>
                    <h5>다음 단체들의 후원으로:</h5>
                    {% for row in sponsors.active | batch(6, "") %}
                        <div class="row mx-auto h-100">
                            {% for company in row %}
                                <div class="col-6 col-md-2 d-flex align-items-center justify-content-center">
                                    {% if company %}
                                        <a href="{{ company.url }}" target="_blank">
                                            <img class="img-fluid w-100" alt="{{ company.name }}" src="{{ base_url }}{{ company.logo }}"/>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <p class="mt-4"><i>pandas</i>를 후원하는 회사 전체 목록은 <a href="{{ base_url }}about/sponsors.html">후원자 페이지</a>에서 확인하실 수 있습니다.
                </section>
            </div>
            <div class="col-md-3">
                {% if releases %}
                    <h4>최신 버전: {{ releases[0].name }}</h4>
                    <ul>
                        <li><a href="{{ base_url }}docs/whatsnew/v{{ releases[0].name }}.html">{{ releases[0].name }}의 새로운 점</a></li>
                        <li>배포일:<br/>{{ releases[0].published.strftime("%Y년 %m월 %d일") }}</li>
                        <li><a href="{{ base_url}}docs/">문서 (웹)</a></li>
                        <li><a href="{{ releases[0].url }}">소스 코드 다운로드</a></li>
                    </ul>
                {% endif %}
                <h4>팔로우 하기</h4>
                <div class="text-center">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://t.me/s/pandas_dev">
                                <i class="follow-us-button fab bi bi-telegram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://fosstodon.org/@pandas_dev" rel="me">
                                <i class="follow-us-button fab bi bi-mastodon"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://x.com/pandas_dev">
                                <i class="follow-us-button fab bi bi-twitter-x"></i>
                            </a>
                        </li>
                    </ul>

                </div>
				<h4>추천 도서</h4>
				<p class="book">
					<a href="https://amzn.to/3DyLaJc">
						<img class="img-fluid" alt="Python for Data Analysis" src="{{ base_url }}static/img/books/pydata_book.gif"/>
					</a>
				</p>
                                <p class="book">
                                        <a href="https://www.packtpub.com/en-us/product/pandas-cookbook-9781836205876?utm_medium=affiliate&utm_campaign=d6d8585f-f475-a1ee-3989-67f3faf1238a&utm_term=5b056f65-afab-5c56-1f0a-5fd88167b4b5&utm_content=B31091">
                                                <img class="img-fluid" alt="Pandas Cookbook, 제3판" src="{{ base_url}}static/img/books/pandas_cookbook_3.gif"/>
                                        </a>
                                </p>
				<p class="book">
					<a href="https://store.metasnake.com/effective-pandas-book/lhte7">
						<img class="img-fluid" alt="Effective pandas 2" src="{{ base_url }}static/img/books/effective_pandas_2.gif"/>
					</a>
				</p>
                {% if releases[1:5] %}
                    <h4>이전 버전</h4>
                    <ul>
                        {% for release in releases[1:5] %}
                            <li class="small">
                                {{ release.name }} ({{ release.published.strftime("%b %d, %Y") }})<br/>
                                <a href="https://pandas.pydata.org/pandas-docs/stable/whatsnew/{{ release.tag }}.html">changelog</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/">docs</a> |
                                <a href="{{ release.url }}">code</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if releases[5:] %}
                    <p class="text-center">
                        <a data-bs-toggle="collapse" href="#show-more-releases" role="button" aria-expanded="false" aria-controls="show-more-releases">더 보기</a>
                    </p>
                    <ul id="show-more-releases" class="collapse">
                        {% for release in releases[5:] %}
                            <li class="small">
                                {{ release.name }} ({{ release.published.strftime("%b %d, %Y") }})<br/>
                                <a href="https://pandas.pydata.org/pandas-docs/stable/whatsnew/{{ release.tag }}.html">changelog</a> |
                                <a href="https://pandas.pydata.org/pandas-docs/version/{{ release.name }}/">docs</a> |
                                <a href="{{ release.url }}">code</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
